body {
    background-color: black;
    font-family: Arial;
    color: white;
    margin: 0;
}

h1 {color: #fde68a;}
h2 {color: #c084fc;}

p {
    width: 60%;
    margin: auto;
    color: #dddddd;
}

img {
    width: 250px;
    margin: 10px;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}

button {
    background-color: #c084fc;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #fde68a;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    p {
        width: 90%;
    }

    img {
        width: 90%;
    }
}
